In [ ]:
"""
Zadanie

Proszę o pobranie danych ze źródła:
https://archive.ics.uci.edu/ml/datasets/Wholesale+customers

Przeprowadzenie normalizacji w zakresie [0,1] na kolumnach z wyłączeniem kolumny Channel i Region.

Przeprowadzenie normalizacji w zakresie [-1,1] na kolumnach z wyłączeniem kolumny Channel i Region.

Przeprowadzenie standaryzacji danych na kolumnach z wyłączeniem kolumny Channel i Region.  
"""

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [129]:
df = pd.read_csv('Wholesale customers data.csv')
columns_to_normalize = [col for col in df.columns if col not in ['Channel', 'Region']]

In [ ]:
normalize_scaler = MinMaxScaler()
second_normalize_scaler = MinMaxScaler(feature_range=(-1,1))
standard_scaler = StandardScaler()

In [ ]:
df[columns_to_normalize] = standard_scaler.fit_transform(df[columns_to_normalize])
df.to_csv('standarized.csv', index=False)

In [130]:
df

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,2,3,0.052933,0.523568,-0.041115,-0.589367,-0.043569,-0.066339
1,2,3,-0.391302,0.544458,0.170318,-0.270136,0.086407,0.089151
2,2,3,-0.447029,0.408538,-0.028157,-0.137536,0.133232,2.243293
3,1,3,0.100111,-0.624020,-0.392977,0.687144,-0.498588,0.093411
4,2,3,0.840239,-0.052396,-0.079356,0.173859,-0.231918,1.299347
...,...,...,...,...,...,...,...,...
435,1,3,1.401312,0.848446,0.850760,2.075222,-0.566831,0.241091
436,1,3,2.155293,-0.592142,-0.757165,0.296561,-0.585519,0.291501
437,2,3,0.200326,1.314671,2.348386,-0.543380,2.511218,0.121456
438,1,3,-0.135384,-0.517536,-0.602514,-0.419441,-0.569770,0.213046
439,1,3,-0.729307,-0.555924,-0.573227,-0.620094,-0.504888,-0.522869